<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>ТехноДОМ продажа кровли и кровельных материалов в Магнитогорске</title>
	<meta name="description" content="технодом, техно дом, технодом магнитогорск, кровля, мягкая кровля, кровля магнитогорск, кровля крыши, металлическая кровля, плоская кровля, купить кровлю, лист кровли, мягкая кровля цена, стоимость кровли">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">




<!-- Open Graph properties -->

<meta property="og:type" content="website">
<meta property="og:site_name" content="ТехноДОМ, ООО, торговая компания">
<meta property="og:title" content="Прямой дилер по продаже кровли и кровельных материалов в Магнитогорске ">
<meta property="og:description" content="">

<!-- Иконка или логотип для соцсетей -->
<link rel="image_src" href="assets/i/og.jpg" />
<!-- Изображение для соцсетей -->
<meta property="og:image" content="assets/i/og.jpg">
<!-- Высота и ширина изображения  -->
<meta property="og:image:width" content="968">
<meta property="og:image:height" content="504">

<!-- ссылка на саму веб-страницу, которая добавляется в социальную сеть. -->
<meta property="og:url" content="http://1technodom.ru/">
<!-- Язык / Локация -->
<meta property="og:locale" content="ru_RU">

	<!-- Template Basic Images Start -->
	<link rel="icon" href="assets/i/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/i/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="assets/i/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="assets/i/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="assets/i/favicon/manifest.json">
	<link rel="mask-icon" href="assets/i/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#fff">
	<!-- Custom Browsers Color End -->


	<link rel="stylesheet" href="assets/css/main.min.css">
	<link rel="stylesheet" href="assets/css/dop.css">

</head>

<body>

	<header id="js-header" class="header">

		<div class="top-line" id="top-line">
			<div class="container">
				<div class="logo-wrapper">
					<a href="index.html"><img class="img-responsive" src="assets/i/logo.png" alt="logo"></a>
					<div class="descr">
						Прямой дилер по продаже
						<br> кровли и кровельных
						<br> материалов в Магнитогорске
					</div>
				</div>
				<!-- /.logo-wrapper -->

				<div class="contacts-wrapper">
					<div class="button-wrapper">
						<button class="js-modal-btn button-g hidden-sm-down" data-header-name="Заказать бесплатный звонок" data-button-name="Перезвоните мне"
						 data-popup="true" href="#modal1" data-form-title="Заявка с подвала сайта">Перезвоните мне
						</button>
					</div>
					<!-- /.button-wrapper -->
					<div class="phones-wrapper hidden-sm-down">
						<a href="tel:83519457033">
							<img src="assets/i/phone.svg" alt="phone"> 8 (3519) 45-70-33
						</a>
						<a href="tel:83519450761">
							<img src="assets/i/phone.svg" alt="phone"> 8 (3519) 45-07-61
						</a>
					</div>
					<!-- /.phones-wrapper -->


				</div>
				<!-- /.cantacts-wrapper -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /#top-line.top-line -->

		<div class="top-nav-wrapper hidden-sm-down" id="js-nav-container">
			<nav class="top-nav">
				<div class="container">
					<div class="top-nav--container">
						<div class="nav-wrapper">
							<ul>
								<li>
									<a href="index.html">Главная</a>
								</li>
								<li>
									<a class="hidden-md-down" href="index.html#advantages">Преимущества</a>
								</li>
								<li>
									<a href="index.html#catalog">Каталог</a></li>
								<li>
									<a href="index.html#top-season">топ продаж</a></li>
								<li>
									<a href="index.html#upsale">комплектующие</a></li>
								<li>
									<a href="index.html#checklist">чек-лист</a></li>
								<li>
									<a href="index.html#reviews">Отзывы</a></li>
								<li>
									<a href="index.html#gallery">проекты</a></li>
								<li>
									<a href="index.html#contacts">контакты</a></li>
							</ul>
						</div>
						<!-- /.nav-wrapper -->
					</div>
					<!-- /.top-nav--container -->
				</div>
				<!-- /.container -->
			</nav>
			<!-- /.top-nav -->
		</div>
		<!-- /.top-nav-wrapper -->
	</header>



	<a href="#" class="menu-link  hidden-md-up	">
		<span></span>
	</a>
	<!-- /#mobile-menu-line.maobile-menu-line -->

	<div class="menu hidden-md-up" >
		<ul>
			<li>
				<a href="index.html">Главная</a>
			</li>
			<li>
				<a class="hidden-md-down" href="index.html#advantages">Преимущества</a>
			</li>
			<li>
				<a href="index.html#catalog">Каталог</a></li>
			<li>
				<a href="index.html#top-season">Топ продаж</a></li>
			<li>
				<a href="index.html#upsale">Комплектующие</a></li>
			<li>
				<a href="index.html#checklist">Чек-лист</a></li>
			<li>
				<a href="index.html#reviews">Отзывы</a></li>
			<li>
				<a href="index.html#gallery">Проекты</a></li>
			<li>
				<a href="index.html#contacts">Контакты</a></li>
		</ul>
	</div>



	<a class="responsive_callback_btn hidden-md-up" href="tel:83519457033"><i class="fa fa-phone"></i></a>